.App {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  width: 900px;
  margin: 0 auto;
  height: 400px;
}

.box {
  margin-top: 10px;
  width: 100%;
  background: rgb(199, 216, 100);
}

.box:last-child {
  background: rgb(121, 217, 241);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-top: 4rem;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

button {
  margin-top: 1rem;
}
